.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cart__card{
        width: 100%;
        border-bottom: 2px solid #6610f2;
        padding: 20px 100px;
        border-radius: 0;
    }
    .card__container{
        display: flex;
        justify-content: center;
    }

    &__title{
        font-size: 2.4rem;
        align-self: center;

    }

    &__botones{
        align-self: flex-end;

        .button__vaciar{
            margin-left: 20px;
        }
    }

    &__card{
        display: flex;
        align-items: center;
        border-radius: 15px;


        .cart__img{
            width: 120px;
            height: 150px;
            border-radius: 15px;
        }

        .card__delete{
            margin-left: 20px;
        }
    }
}

.cartVacio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__imagen{
        margin-top: 60px;
    }

    &__textos{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        & h4,h6{
            color: #888;
        }
    }
}
