.itemDetail__comprar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 1.6rem;
        font-weight: bold;
    }
}

.itemDetail__comprado{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 0.5;
}