.logo{
    margin:0 20px;
}

.cartIcon{
    margin: 0 20px;
    display: flex;
    flex-direction: row;


    i{
        font-size: 1rem;
        margin-right: 6px;
        transform: translateY(2px);
    }

    h6{
        font-size: .8rem;
        transform: translateY(.5px);
    }

    &:hover{
        background-color: #000;
        color: #fff;
    }
}

nav{
    position: fixed;
    background-color: #000;
}

// 71px
