$primary: #6610f2;
$success: #20C997;
$danger: #D63384;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

a{
    color: black;
    text-decoration: none;

    &:hover{
        color: black;
    }
}