.list__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;

    .item{
        display:  flex;
        flex-direction: column;
        align-items: center;
    }
}


.card__text{
    height: 48px;
}